@font-face {
  font-family: 'ABC Monument Grotesk';
  font-weight: normal;
  font-display: swap;
  src: url("/webfonts/ABCMonumentGrotesk-Regular.woff2") format('woff2');
}

@font-face {
  font-family: 'ABC Monument Grotesk';
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  src: url("/webfonts/ABCMonumentGrotesk-RegularItalic.woff2") format('woff2');
}

@font-face {
  font-family: 'ABC Monument Grotesk';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("/webfonts/ABCMonumentGrotesk-Medium.woff2") format('woff2');
}

@font-face {
  font-family: 'ABC Monument Grotesk';
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  src: url("/webfonts/ABCMonumentGrotesk-MediumItalic.woff2") format('woff2');
}

@font-face {
  font-family: 'ABC Monument Grotesk Semi-Mono';
  font-weight: normal;
  font-display: swap;
  src: url("/webfonts/ABCMonumentGroteskSemi-Mono-Regular-Trial.woff2")
    format('woff2');
}
